dump/DictService/metadata.xsd0.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/">
  <xs:import schemaLocation="http://localhost:8080/metadata?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SimpleDictService"/>
  <xs:element name="WordLookupOp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Request" nillable="true" type="q1:WordLookupReq" xmlns:q1="http://schemas.datacontract.org/2004/07/SimpleDictService"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WordLookupOpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WordLookupOpResult" nillable="true" type="q2:WordLookupResp" xmlns:q2="http://schemas.datacontract.org/2004/07/SimpleDictService"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>