dump/DictService/metadata.xsd2.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SimpleDictService" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/SimpleDictService">
  <xs:complexType name="WordLookupReq">
    <xs:sequence>
      <xs:element minOccurs="0" name="Word" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WordLookupReq" nillable="true" type="tns:WordLookupReq"/>
  <xs:complexType name="WordLookupResp">
    <xs:sequence>
      <xs:element minOccurs="0" name="Definition" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Exists" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WordLookupResp" nillable="true" type="tns:WordLookupResp"/>
</xs:schema>

