oldies/shots.tagus.2009/Demos/DictionaryClient/Service References/ServiceReference1/metadata.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://pedrofelix.local" elementFormDefault="qualified" targetNamespace="http://pedrofelix.local" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="WordLookup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:WordLookupRequestData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="WordLookupRequestData">
    <xs:sequence>
      <xs:element name="Word" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WordLookupRequestData" nillable="true" type="tns:WordLookupRequestData" />
  <xs:element name="WordLookupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WordLookupResult" nillable="true" type="tns:WordLookupResponseData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="WordLookupResponseData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Exists" type="xs:boolean" />
      <xs:element minOccurs="0" name="Definition" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WordLookupResponseData" nillable="true" type="tns:WordLookupResponseData" />
</xs:schema>